ALTER TABLE students ADD COLUMN IF NOT EXISTS username TEXT;
ALTER TABLE students ADD COLUMN IF NOT EXISTS password TEXT;
ALTER TABLE students ADD COLUMN IF NOT EXISTS is_responsible BOOLEAN DEFAULT false;
